body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}
table,
th,
td {
  max-width: 600px;
  margin: 3em auto;
  border: 1px solid black;
  border-collapse: collapse;
}
footer {
  text-align: center;
}

article.ttg {
  width: 70%;
}
